<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>/noScriptlet.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>/app04a/noEL.jsp</url-pattern>
            <el-ignored>true</el-ignored>
        </jsp-property-group>
    </jsp-config>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>app01c.SimpleServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>app01c.WelcomeServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>


    <!--Security Constraint-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSP pages</web-resource-name>
            <url-pattern>/app12b/1.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-role>
        <role-name>member</role-name>
    </security-role>
    <security-role>
        <role-name>manager</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Servlet1</web-resource-name>
            <url-pattern>/app12b/servlet1</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>member</role-name>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>

    <listener>
        <listener-class>app14a.DynRegListener</listener-class>
    </listener>

    <!--三种认证方式-->
    <!---->
    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>Members Only</realm-name>-->
    <!--</login-config>-->

    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<form-login-config>-->
            <!--<form-login-page>/app12b/login.html</form-login-page>-->
            <!--<form-error-page>/app12b/error.html</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->

    <!--<login-config>-->
        <!--<auth-method>DIGEST</auth-method>-->
        <!--<realm-name>Digest authentication</realm-name>-->
    <!--</login-config>-->

</web-app>
